<div>
	<div class ="nav">
		<div class ="logo">
			Shopping List
		</div>
		<br>
		<div>
			<div class = "new-item-input">
				<%= form_for (@post) do |f| %>

				<div class = "field">
					<%= f.text_field :title, placeholder: "Search your item..", class: "search-item-input" %>
				</div>
				<div class = "field">
					<%= f.submit "Add" ,class: "btn btn-default add-button" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<div style = "display:block;height:13rem;">
	</div>
	<div class = "post-holder">
		<% @number = 0 %>
		<% @total_price = 0 %>
		<% @posts.each do |post| %>
		<% @number += 1 %>
		<% @total_price += (post.price).to_f %>
		<%= render 'post', post: post, number: @number %>
		<% end %>


	</div>
	<div class ="bottom-nav">
		<div class = "estimated-cost-text">Total Estimated Cost:      $</div>
		<div class = "estimated-price"><%= sprintf("%0.02f",@total_price) %></div>
	</div>


</div>