<div>
	<div class ="nav">
		<div class ="logo">
			Shopping List
		</div>
		<div>
			<div class = "new-item-input">
			<%= form_for (@post) do |f| %>
			
				<div class = "field">
				<%= f.text_field :title, placeholder: "Search your item..", class: "search-item-input" %>
				</div>
				<div class = "field">
				<%= f.submit "Add" ,class: "btn btn-default add-button" %>
				</div>
			<% end %>
			</div>
		</div>
	</div>
	<div>
		<% prices = 0 %>
		<% @posts.each do |post| %>
		<span style = "color:#26A69A"><%= post.title %></span> <i class="fa fa-chevron-circle-right"></i> <span style = "color:#607D8B"> $ <%= post.price %></span>
		<% prices = (post.price).to_f + prices %>
		<%= link_to post, method: :delete do %>
		<i class="fa fa-trash"></i>
		<% end %>
		<br>
		<br>
		<% end %>


	</div>



</div>